
<li id="<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 80), micropost.user %>
  <span class="user"><%= link_to micropost.user.username, micropost.user %></span>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp" id="post">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <br>

    <div class="micropost-buttons">
      <div class="btn-group">
        <%= link_to like_micropost_path(micropost), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-up"></span>
        Like
        <%= micropost.get_upvotes.size %>

        <% end %>
        <%= link_to dislike_micropost_path(micropost), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-down">
        Dislike
        <%= micropost.get_downvotes.size %>

        <% end %>

      </div>
      <button-comments class="btn-default btn btn-sm addComments" id="replybutton" onclick="toggleComment(this)">Comments (<%= micropost.comments.count %>)</button-comments>

      <% if (current_user?(micropost.user)||current_user.admin) %>
        <button-comments class="btn-default btn btn-sm delete">
        <%= link_to "Delete", micropost, method: :delete, data: { confirm: "You sure?" } %>
        </button-comments>
      <% end %>

      <div id='comment-box'>
        <%= render :partial => micropost.comments %>
        <%= simple_form_for [ micropost, Comment.new]  do |f| %>
        <div class="field">
          <br>
          <%= f.text_area :body, class: "form-control" %>
          </div>
          <br>
          <%= f.submit "Add Comment", class: "btn btn-primary" %>
          <br>
          <br>
          <% end %>
      </div>
     </div>
  </span>
</li>
