<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  </head>
  <body>
    <div id="alert-messages">
      <%= render partial: "shared/flash_messages", flash: flash %> 
    </div>
    <%= render 'layouts/header' %>
    <div class="container" id= "page-content">
      <%= yield %>
    </div>
  </body>
</html>
